<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<footer th:fragment="bottom">
    <ul>
        <li><a th:href="@{#}">Twitter</a></li>
        <li><a th:href="@{#}">Facebook</a></li>
        <li><a th:href="@{#}">TARDIS</a></li>
    </ul>
    <span>Copyright BBC/Terry Nation 1963</span>
</footer>
</body>
</html>